html, body {
  margin: 20px;
  padding: 0;
}

canvas {
  display: block;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

h2 {
  padding-top: 70px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: rgb(0, 195, 255);
}

